@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;600;700&display=swap");
button {
  outline: none;
  width: 22.8rem;
  height: 6.3rem;
  background-color: #5474FD;
  color: #fff;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
}
button:hover {
  background-color: #3056fe;
  cursor: pointer;
}

:root {
  outline: none;
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  border: 1.5rem solid #fff;
}

.centered-wrapper {
  max-width: 1200px;
  padding: 0 45px;
  margin: 0 auto;
}

h3 {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 2.6rem;
  color: #fff;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #fff;
  text-transform: uppercase;
}

h6 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fff;
}

.site-header {
  background-image: url("../img/header-mountain-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.site-header__mobile-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  display: none;
}
.site-header__text {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding-top: 26rem;
}
.site-header h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 2.6rem;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.site-header p {
  margin-bottom: 4.8rem;
  letter-spacing: 0.68rem;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.6rem;
}
.site-header__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 11rem;
}
.site-header__form input {
  outline: none;
  height: 6.1rem;
  width: 50rem;
  align-items: center;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 0.3rem;
  border: none;
  text-align: center;
}
.site-header__form input::placeholder {
  padding-left: 11rem;
  padding-right: 11rem;
}
.site-header__form button {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  cursor: pointer;
  width: 15rem;
}
.site-header__form button span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  margin: 1.9rem 3.7rem 1.5rem 2.1;
}
.site-header__form button img {
  margin-left: 1.1rem;
  width: 22px;
  height: 24px;
}
.site-header__scroll-down {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 13.7rem;
}

.site-menu {
  background-color: #5474FD;
  height: 8rem;
  width: 100%;
}
.site-menu__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-top: 3.1rem;
}
.site-menu__navbar {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}
.site-menu__navbar a {
  height: 100%;
  color: #fff;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-right: 2.9rem;
}
.site-menu__navbar a:hover {
  text-decoration: underline;
  color: #496BFE;
}

.site-explore {
  position: relative;
  background: url(../img/slider-bg.png) rgba(35, 35, 35, 0.85);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100%;
  width: 100%;
}
.site-explore__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16rem;
  padding-bottom: 11rem;
}
.site-explore__text {
  width: 56rem;
  margin-top: 12.2rem;
}
.site-explore__text h3 {
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.site-explore__text p {
  max-width: 56rem;
  line-height: 1.6rem;
}
.site-explore__text p:nth-child(2) {
  content: "";
  margin-bottom: 3rem;
}
.site-explore__text button {
  background: linear-gradient(41deg, rgb(73, 107, 254) 0%, rgb(73, 107, 254) 49%, rgb(84, 116, 253) 49%);
  margin-top: 4.5rem;
  margin-bottom: 3rem;
}
.site-explore__text button:hover {
  background: #496BFE;
  cursor: pointer;
}
.site-explore--lake {
  margin: 12.2rem 4.5rem 1rem 0;
  width: 350px;
  height: 220px;
}
.site-explore--mountain {
  transform: translateX(90px);
  width: 350px;
  height: 220px;
}

.site-how-to {
  background-color: #333333;
  height: 33rem;
}
.site-how-to__content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16rem;
  padding: 0 10rem;
  border-bottom: 8px solid #999999;
}
.site-how-to__article {
  width: 23rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
}
.site-how-to__article img {
  position: relative;
  padding: 18px 1px 13px;
  position: relative;
  background-color: #333333;
  width: 6rem;
  height: 6rem;
  align-items: center;
}
.site-how-to__article::after {
  position: absolute;
  left: 46.25%;
  top: 25%;
  content: "";
  display: block;
  width: 30rem;
  height: 200px;
  border: 2px solid #999999;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateX(-100%);
}
.site-how-to__article:nth-child(2) ::after {
  position: absolute;
  left: 79.1666666667%;
  top: 25%;
  content: "";
  display: block;
  width: 30rem;
  height: 200px;
  border: 2px solid #999999;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateX(-100%);
}
.site-how-to__article p {
  width: 100%;
  font-size: 3rem;
  line-height: 2.6rem;
  justify-content: flex-start;
  margin-top: 3.5rem;
  margin-bottom: 3.2rem;
}

.site-spain {
  background-image: url(../img/spain-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.site-spain__inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.site-spain__bg {
  width: 54rem;
  height: 37rem;
  margin-top: 23rem;
  margin-bottom: 10rem;
  background-color: rgba(35, 35, 35, 0.9);
}
.site-spain__text {
  padding: 4.8rem 0.2rem 4.8rem 3rem;
}
.site-spain__text h6 {
  padding-bottom: 2.3rem;
}
.site-spain__text h5 {
  padding-bottom: 1.3rem;
  text-transform: uppercase;
}
.site-spain__text p {
  padding-bottom: 4.3rem;
}

.site-spain-right {
  background-image: url(../img/spain-bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.site-spain-right__inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.site-spain-right__bg {
  width: 54rem;
  height: 37rem;
  margin-top: 23rem;
  margin-bottom: 10rem;
  background-color: rgba(35, 35, 35, 0.9);
}
.site-spain-right__text {
  padding: 4.8rem 0.2rem 4.8rem 3rem;
}
.site-spain-right__text h6 {
  padding-bottom: 2.3rem;
}
.site-spain-right__text h5 {
  padding-bottom: 1.3rem;
  text-transform: uppercase;
}
.site-spain-right__text p {
  padding-bottom: 4.3rem;
}

.tourist-feedback {
  background-image: url(../img/feedback-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fff;
}
.tourist-feedback__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tourist-feedback__content h3 {
  margin: 12.8rem 0 9rem 0;
}
.tourist-feedback__article {
  position: relative;
  width: 100%;
  background-color: #333333;
  min-height: 284px;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 8.2rem 0;
}
.tourist-feedback__article-text {
  padding: 5rem 2.5rem 3.9rem 6.2rem;
}
.tourist-feedback h5 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}
.tourist-feedback__quote {
  text-align: justify;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -1.1px;
}
.tourist-feedback .icon-quote {
  position: relative;
  width: 3rem;
  height: 2rem;
  display: inline-block;
  margin: 0 0 1.4rem 0;
}
.tourist-feedback .icon-quote::before {
  position: absolute;
  top: -2.9rem;
}

.footer {
  height: 27rem;
  background-color: #232323;
}
.footer__content {
  text-align: center;
  margin: 0 auto;
  max-width: 20rem;
  padding-top: 12.5rem;
  padding-bottom: 5rem;
}
.footer img {
  margin-bottom: 1rem;
}
.footer p {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.45px;
  margin: 0 0 2.9rem 0;
}
.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer li {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease-in;
}
.footer li:hover {
  transform: scale(1.5);
}
.footer li img {
  width: 100%;
}

@media (min-width: 360px) and (max-width: 1015px) {
  .site-header {
    width: 100%;
  }
  .site-header__text {
    padding: 7rem 1rem 2rem;
    justify-content: space-between;
    text-align: center;
  }
  .site-header__text h2 {
    font-size: 3.5rem;
  }
  .site-header__text p {
    font-size: 2rem;
  }
  .site-header__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .site-header__form input {
    width: 45rem;
    margin-bottom: 1.5rem;
  }
  .site-header__form input::placeholder {
    width: 100%;
    padding: 0 0rem 0 2rem;
  }
  .site-header__form button {
    width: 100%;
  }
  .site-header__scroll-down {
    display: none;
  }
  .site-menu {
    width: 100%;
    display: flex;
    height: 27rem;
  }
  .site-menu__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding-top: 3.1rem;
  }
  .site-menu img {
    width: 100%;
    margin-bottom: 3.1rem;
  }
  .site-menu__navbar {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  .site-menu__navbar a {
    display: block;
    width: 100%;
    letter-spacing: 1px;
  }
  .site-explore {
    width: 100%;
  }
  .site-explore__content {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  .site-explore__text {
    width: 100%;
    align-content: center;
    text-align: center;
  }
  .site-explore__text h3 {
    width: 100%;
    text-align: center;
    margin: 0 0 3.5rem 0;
  }
  .site-explore__text p {
    width: 100%;
    margin: 0 auto;
    text-align-last: center;
  }
  .site-explore__text button {
    margin-top: 4rem;
  }
  .site-explore--lake {
    width: 100%;
    width: 350px;
  }
  .site-explore--mountain {
    transform: unset;
    margin-bottom: 10rem;
  }
  .site-how-to {
    width: 100%;
    height: 100%;
    padding-top: 3rem;
  }
  .site-how-to__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5rem;
    border-bottom: none;
    padding: 1rem 1 rem;
  }
  .site-how-to__article {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  .site-how-to__article p {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  .site-how-to__article::after {
    display: none;
  }
  .site-how-to__article:nth-child(2) ::after {
    display: none;
  }
  .site-spain {
    height: 100%;
    width: 100%;
  }
  .site-spain__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .site-spain__inner__bg {
    padding: 50px 30px;
    text-align: center;
  }
  .site-spain__inner__text {
    height: auto;
    margin: 5rem 0 0 0;
    padding: 5rem 3rem;
    text-align: center;
  }
  button {
    text-align: center;
    margin-bottom: 10rem;
  }
  .site-spain-right {
    height: 100%;
    width: 100%;
  }
  .site-spain-right__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .site-spain-right__inner__bg {
    padding: 50px 30px;
    text-align: center;
  }
  .site-spain-right__inner__text {
    height: auto;
    margin: 5rem 0 0 0;
    padding: 5rem 3rem;
    text-align: center;
  }
  button {
    text-align: center;
    margin-bottom: 10rem;
  }
  .tourist-feedback {
    width: 100%;
    height: 100%;
  }
  .tourist-feedback__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tourist-feedback__content h3 {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .tourist-feedback__article {
    position: relative;
    width: 100%;
    margin: 0 0 8rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tourist-feedback__article img {
    width: initial;
  }
}
@media (max-width: 480px) {
  .site-header {
    width: 100%;
  }
  .site-header #mobile-menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
  }
  .site-header__text {
    padding: 7rem 1rem 2rem;
    justify-content: space-between;
    text-align: center;
  }
  .site-header__text h2 {
    font-size: 3.5rem;
  }
  .site-header__text p {
    font-size: 2rem;
  }
  .site-header__form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .site-header__form input {
    width: 25rem;
    margin-bottom: 1.5rem;
  }
  .site-header__form input::placeholder {
    font-size: 0.8rem;
    padding: 0 0rem 0 0rem;
  }
  .site-header__form button {
    width: 100%;
  }
  .site-header__scroll-down {
    display: none;
  }
  .site-menu {
    display: none;
  }
  .site-explore {
    width: 100%;
    height: 100%;
  }
  .site-explore__content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .site-explore__text h3 {
    width: 100%;
    margin: 0 auto;
    margin: 0 0 3rem 0;
  }
  .site-explore__text p {
    margin: 0 auto;
    max-width: 32rem;
    text-align: center;
    text-align-last: center;
  }
  .site-explore__text button {
    width: 100%;
  }
  .site-explore img {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .site-explore__lake {
    width: 100%;
  }
  .site-explore--mountain {
    transform: unset;
    width: 100%;
  }
  .site-how-to {
    width: 100%;
  }
  .site-how-to__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    border-bottom: none;
    padding-top: 6rem;
  }
  .site-how-to__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .site-how-to__article p {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  .site-how-to__article::after {
    display: none;
  }
  .site-how-to__article:nth-child(3) ::after {
    display: none;
  }
  .site-spain {
    height: 100%;
    width: 100%;
  }
  .site-spain__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .site-spain__bg {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .site-spain__text {
    height: auto;
    margin: 5rem 0 0 0;
    padding: 5rem 3rem;
    text-align: center;
  }
  .site-spain__text h6 {
    padding-top: unset;
  }
  .site-spain__text p {
    padding-bottom: 3rem;
  }
  button {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .site-spain-right {
    height: 100%;
    width: 100%;
  }
  .site-spain-right__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .site-spain-right__bg {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .site-spain-right__text {
    height: auto;
    margin: 5rem 0 0 0;
    padding: 5rem 3rem;
    text-align: center;
  }
  .site-spain-right__text h6 {
    padding-top: unset;
  }
  .site-spain-right__text p {
    padding-bottom: 3rem;
  }
  button {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .tourist-feedback {
    width: 100%;
    height: 100%;
  }
  .tourist-feedback__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tourist-feedback__content h3 {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .tourist-feedback__article {
    position: relative;
    width: 100%;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
  }
  .tourist-feedback__article img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
